@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.logo{
    width: 100px;
   
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background: transparent;
    z-index: 999;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}
#main-navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}
#main-navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;

}
#main-navbar li  a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    color: white ;
    text-shadow: 0em 0em 0.3em rgba(255, 0, 119, 0.92);
    transition: 0.3s    ease;
}
#sub-navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}
#sub-navbar li {
    list-style: none;
    padding: 0 10px;
    position: relative;
}
#sub-navbar li  a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: blue;
    text-shadow: 0em 0em 0.3em rgba(255, 255, 255, 0.92);
    transition: 0.3s    ease;
}
.background-Image{
    background-image: url(Images/home7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

