@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.logo{
    width: 90px;
   
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background: black;
    z-index: 999;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}
#main-navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}
#main-navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;

}
#main-navbar li  a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    color: #ff0088 ;
    transition: 0.3s    ease;
}
#sub-navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}
#sub-navbar li {
    list-style: none;
    padding: 0 10px;
    position: relative;
}
#sub-navbar li  a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-shadow: 0em 0em 0.3em rgba(255, 255, 255, 0.92);
    transition: 0.3s    ease;
}
.background-Image{
    background-image: url(Images/home7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
#hero{
    padding-top: 25px;
    background-image: url(Images/home7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 82vh;
}
#hero-home{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 80px;
    padding-right: 80px;
}
.home h1{
    font-weight: 800;
    font-size: 30px;
    color: white;
    text-shadow: 0em 0em 0.3em rgba(2, 2, 2, 0.92);
    padding-bottom: 10px;
}
.home .div-box{
    background-color: white;
    width: 280px;
    border-radius: 5px;
    padding-bottom: 10px;
    border-left:#ff0088 solid 5px;

}
.home .div-box h3{
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    font-weight: 800;
    color: #ff0088;
}
.home h6{
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding-top: 10px;
    text-shadow: 0em 0em 0.3em rgba(0, 0, 0, 0.92);
}
.flier img{
    width: 300px;
    border-radius: 120px;
}
.download{
    text-align: center;
}
.download li {
    list-style: none;
}
.download li img{
    width: 200px;
    padding-top: 20px;
}
.download h3{
    font-size: 30px;
    font-weight: 800;
    color: white;
    padding-bottom: 5px;
    text-shadow: 0em 0em 0.3em rgba(0, 0, 0, 0.92);
}
button{
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 0em 0em 0.3em rgba(0, 0, 0, 0.92);
    border-radius: 4px;
    font-size: 25px;
    background-color: transparent;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    height: 10%;
    width: 15%;
    align-items: center;
    border: 1px #ff0088 solid;
    text-decoration: none;
    margin-top: 5%;
   
   
}
button:hover,
button.active{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.3s    ease;
}
#services{
    background-color: whitesmoke;
}
#services h1{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    color: #ff0088;
    text-shadow: 0em 0em 0.3em rgba(255, 255, 255, 0.92);
}
.our-services-open,
.our-services-end{
   
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px;

}
.gas {
    width: 200px;
    height: 200px;
    background-image: url(Images/flier.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    margin-right: 50px;
    
}
.gas h3,
.accessories h3,
.installations h3,
.training h3 {
    font-weight: 800;
    text-align: center;
    align-items: center;
    color: white;
    margin-top: 80px;
    
    background-color: transparent;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.gas h3 a{
    display: block;
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
    color: white;
    text-shadow: 0em 0em 0.3em rgba(0, 0, 0, 0.92);
    position: relative;
    width: 100%;
    z-index: 99999;
    
    height: 92%;
    

}
.accessories {
    width: 200px;
    height: 200px;
    background-image: url(Images/accessories.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    margin-right: 20px;
    

}
.accessories a{
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
    color: white;
    text-shadow: 0em 0em 0.3em rgba(0, 0, 0, 0.92);

}
.installations{
    width: 200px;
    height: 200px;
    background-image: url(Images/install.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    margin-right: 50px; 
}
.installations a{
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
    color: white;
    text-shadow: 0em 0em 0.3em rgba(0, 0, 0, 0.92);

}
.training {
    width: 200px;
    height: 200px;
    background-image: url(Images/training.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    margin-right: 20px;  
}
.training a{
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
    color: white;
    text-shadow: 0em 0em 0.3em rgba(0, 0, 0, 0.92);

}



